<header>
    <nav>
        <a href="/">Grile Info UCV</a>
        <ul>
            <li><a href="/questions">Questions</a></li>
            <li><a href="/questions/new">add questions</a></li>
        </ul>

    </nav>
</header>