<header>
    <nav>
        
        <ul class="ulhead">
            <li class="headselection"><a href="/">Home</a></li>
            <li class="headselection"><a href="/questions">Questions</a></li>
            <li class="headselection"><a href="/questions/new">add questions</a></li>
            <li class="headselection"><a href="/quizz">Test your knowledge</a></li>
        </ul>

    </nav>
</header>


