<!DOCTYPE html>
<html lang="en">
<head>
    <link id="main-css" rel="stylesheet" href="/css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <script defer src="/views/layouts/quizzLogic.js"></script>
    
    <title>MongoDB</title>
</head>
<body>

    {{> header}}

    <div class="core">
    {{> error}}
    {{{body}}}
    

    </div>
    
</body>

</html>