<div >


{{#each data}}

<div class="questions">
    <h3>{{question}}</h3>
    {{#each answers}}

     <p>{{this}}</p >
    
    {{/each }}

</div>


{{/each }}

</div>


{{!-- <ol class="ol">
        {{this}}
    </ol>
    
     --}}